<!DOCTYPE html>
<html lang="{{ .Site.Language }}" class="default">
<head>
	<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8"><link rel="canonical" href="{{ .Site.BaseURL }}">
	
  <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} RSS" href="/index.xml">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
  {{ $sass := resources.Get "scss/kaleidoscope.scss" }}
  {{ $style := $sass | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
	{{ with .Site.Params.favicon }}<link rel="icon" href="{{ . }}">
	{{ end -}}
	
  <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
	{{ end -}}
  
  <link href="/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="/fontawesome/css/solid.min.css" rel="stylesheet">
  
  <script type="text/javascript">
    const hour = (new Date()).getHours();
      var element = document.documentElement;
      if (hour >= 5 && hour < 7) {
        element.classList.add("morning");
      } else if (hour >= 7 && hour < 17) {
        element.classList.add("day");
      } else if (hour >= 17 && hour < 19) {
        element.classList.add("evening");
      } else {
        element.classList.add("night");
      }
  </script>
</head>
<body id="layout">
  <div class="pure-g">
    <div class="sidebar pure-u-1 pure-u-lg-1-4">
      {{ partial "sidebar" . }}
    </div>
    <div class="content pure-u-1 pure-u-lg-3-4">
      {{ block "main" . }}
      {{ .Content }}
      {{ end }}
      {{ partial "footer" . }}
    </div>
    <a href="#" class="pure-button back2top">
      <img src="/images/up-arrow-svgrepo-com.svg" />
    </a>
  </div>
</body>
</html>