{{ define "main" }}

<article class="measure db center f5 f4-ns">
  <header class="mt4 w-100 tc-l">
    <h1 class="f1 mt3 mb1 {{ $.Param "header_font"  | default "baskerville"}}">
      {{ .Title }}
    </h1>
    {{ with .Params.author | default .Site.Params.author }}
    <p class="tracked">
      By <strong>
      {{- if reflect.IsSlice . -}}
          {{ delimit . ", " | markdownify }}
      {{- else -}}
          {{ . | markdownify }}
      {{- end -}}
      </strong>
    </p>
    {{ end }}
    {{ if not .Date.IsZero }}
    {{ if ne .Lastmod .Date }}<span class="f6 mv4 dib tracked">First Published: </span>{{ end }}
    <time class="f6 mv4 dib tracked" {{ printf `datetime="%s"` (.Lastmod.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
      {{- .Lastmod | time.Format (default "January 2, 2006" .Site.Params.date_format) -}}
    </time>
    {{ end }}{{ if ne .Lastmod .Date }}
    <span class="f6 mv4 dib tracked">Last Updated: </span>
    <time class="f6 mv4 dib tracked" {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
      {{- .Date | time.Format (default "January 2, 2006" .Site.Params.date_format) -}}
    </time>
    {{ end }}
    {{ with .GetTerms "categories" }}{{ range . }}
    <span class="ttc">
      - <a class="link dim f6 mv4 dib tracked {{ $.Param "link_color" | default "near-black" }}" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </span>
    {{ end }}{{ end }}
    <span class="f6 mv4 dib tracked"> - {{ .ReadingTime }} min.</span>
    <span class="f6 mv4 dib tracked"> - {{ .WordCount }} words</span>
  </header>
  <div class="pb3">
    {{ partial "toc" . }}
    {{ .Content }}
  </div>
  
  {{ with .GetTerms "tags" }}
  <div class="flex-ns flex-wrap justify-around mt3">
  {{ range . }}
    <a class="f6 link dim br3 ph3 pv2 mb2 dib {{ $.Param "button_text_color" | default "white" }} bg-{{ $.Param "button_color" | default "black-80" }}" href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
  </div>
  {{ end }}
  
  {{ partial "related" . }}

</article>

{{ end }}