<nav class="db dt-l bb w-100 border-box pa3 ph5-l">
  <a href="{{ .Site.Home.RelPermalink }}" class="db dtc-l v-mid {{ $.Param "text_color"  | default "near-black"}} link dim w-100 w-25-l tc tl-l mb2 mb0-l" title="Home">
    {{ with .Site.Params.site_logo }}
    <img src="{{ relLangURL . }}" class="dib w2 h2 br-100" alt="{{ $.Site.Title }}">
    {{ else }}
    {{ .Site.Title }}
    {{ end }}
  </a>
  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
    {{ if .Site.Menus.main }}{{ range .Site.Menus.main }}
    <a class="link dim {{ $.Param "text_color"  | default "near-black"}} f6 f5-l dib mr3 mr4-l" href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a>
    {{ end }}{{ end }}
  </div>
</nav>