{{ define "main" }}

{{ .Content }}

{{ if .Site.Params.featured }}
<div class="content-subhead">Featured Posts</div>
<div class="posts">
  {{ range where .Site.RegularPages ".Params.featured" "=" true }}
  {{ partial "posts-list" . }}
  {{ end }}
{{ end }}
<div class="content-subhead">Recent Posts</div>
<div class="posts">
  {{ range first 10 (where .Site.RegularPages ".Params.featured" "!=" true) }}
  {{ partial "posts-list" . }}
  {{ end }}
</div>


<div style="text-align: center;">
  <a class="pure-button" href="/posts">All Posts</a>
</div>

{{ end }}
