{{ define "main" }}
<div class="mw7 center">
  {{ if .Site.Params.featured_posts }}
  <h2 class="{{ $.Param "header_font" }} ph3 ph0-l">Featured Posts</h2>
  {{ range where (where .Site.RegularPages "Type" "in" site.Params.mainSections) ".Params.featured" "=" true }}
    {{ partial "posts-list.html" . }}
  {{ end }}
  {{ end }}
  <h2 class="{{ $.Param "header_font" }} ph3 ph0-l">Recent Posts</h2>
  {{ range first 10 (where (where .Site.RegularPages "Type" "in" site.Params.mainSections) ".Params.featured" "!=" true ) }}
    {{ partial "posts-list.html" . }}
  {{ end }}
</div>

{{ end }}